{% extends 'base.html' %}

{% block title %}About Page{% endblock title %}

{% block content %}
<br />
<div class="container" style="text-align: center;">
    <div class="jumbotron" >
        <h1 class="display-4">About Us</h1>
        <p class="lead">A Social Media website built painstakingly by igor and chris with Django. with much appreciated help from our teachers samantha, sergio, rafael and andres in that order (not in apprecation just just chronological order in case you were wondering lol.) and ofcourse much deserved credit to our fantastic tutor shay whos been with us thruout this entire journey along with our classmates. thank you all :)</p>
       
        
            <p><a class="btn btn-primary btn-lg" href="{% url 'post_list' %}">Back</a></p>
        </p>

{% endblock content %}