{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<br />
<div class="container" style="text-align: center;">
    <div class="jumbotron" >
        <h1 class="display-4">Social Media App</h1>
        <img src="/static/images/Logo.png" style="width:800px; height:400px; border-radius: 10px; border: 1px solid black">
    <br>
        {% if user.is_authenticated %}
        <p class="lead">
            You are logged in as <strong>{{ user.username }}</strong>
            <p><a class="btn btn-primary btn-lg" href="{% url 'post_list' %}">Continue</a></p>
        </p>
        {% else %}
        <p><a class="btn btn-primary btn-lg" href="{% url 'login' %}">Login</a> or <a class="btn btn-primary btn-lg" href="{% url 'signup' %}">Register</a> To Continue</p>
    </div>
</div>
{% endif %}
{% endblock content %}