{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<br />
<div class="container" style="text-align: center;">
    <div class="jumbotron" >
        <h1 class="display-4">Message Board App</h1>
        <p></p>
        
    <p><img class="mainlogo" src="/static/images/Logo.png" /></p>
    <br>
        {% if user.is_authenticated %}
        <p class="lead">
            You are logged in as <strong>{{ user.username }}</strong>
            <p><a class="btn btn-primary btn-lg" href="{% url 'post_list' %}">Continue</a></p>
        </p>
        {% else %}
        <p><b>To Continue</b></p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'login' %}">Login</a> or <a class="btn btn-primary btn-lg" href="{% url 'signup' %}">Register</a></p>
    </div>
</div>
{% endif %}
{% endblock content %}