{% extends 'base.html' %}

{% block title %}Post Details{% endblock title %}

{% block content %}
<div class="container" style="margin-bottom: 5rem;">
    <div class="card post-card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div>
                    <i class="fas fa-user-circle"></i> {{ post.author }} | {{ post.date }}
                </div>
                {% if user.is_authenticated and user == post.author  %}
                <div>
                    <a href="{% url 'post_edit' post.pk %}"><i class="fas fa-edit"></i></a> | 
                    <a href="{% url 'post_delete' post.pk %}"><i class="fas fa-trash-alt"></i></a>
                </div>
                {% endif %}
           
            </div>
        </div>

        <div class="card-body">
        {% if post.post_image %}
        <p><img src="{{ post.post_image.url }}" class="img-responsive" style="max-width: 100%;"></p>
        {% endif %}
        <p>{{ post.body }}</p>
        
<div class="card-body">
<h5>Comments:</h5>
{% if not post.comments.all %}
    No comments Yet...
{% else %}
    {% for comment in post.comments.all %}
    <div class="comment-box">
    <p><strong>{{ comment.author }}</strong> <span class="text-fade"> {{ comment.date }} </span><br>
        {{ comment.body }} <br>
        </p>
        </div>
    {% endfor %}
{% endif %}  
</div>  
</div>

<div class="card-footer">
    <div class="d-flex justify-content-between">
        <div>
            <a class="btn btn-primary" href="{% url 'post_list' %}">Back</a> 
            <a class="btn btn-success" href="{% url 'add_comment_to_post' post.pk %}">Add Comment</a>
        </div>
        <div>
            <form action="{% url 'like_post' post.pk %}" method="POST">
                {% csrf_token %}

                {% if liked %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger">
                    Unlike <i class="far fa-frown"></i></button>
                {% else %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-success">
                    Like <i class="far fa-smile"></i></button>
                {% endif %}
            </form>
        </div>
    </div>
</div>

    </div>
</div>
{% endblock content %}
