{% extends 'base.html' %}

{% block title %}Posts{% endblock title %}

{% block content %}
    {% for post in object_list %}
    <div class="container">
        <div class="card" style="border: 1px solid black;">
            <div class="card-header">
                <span class="text-muted">by {{ post.author }} | {{ post.date }}</span>
                <span class="text-muted"> ------------------------------- <a href="{% url 'post_edit' post.pk %}">Edit</a> | <a href="{% url 'post_delete' post.pk %}">Delete</a></span>
            </div>
           
            <div class="card-body">
                {% if post.post_image %}
                <p><img src="{{ post.post_image.url }}" class="img-responsive" style="width: 200px; height: 200px" /></p>
                {% endif %}
                <p class="card-text">{{ post.body }}</p>
            </div>

            {% if post.comments.all %}
            <div class="card-body" style="border: .5px dashed black; border-radius: 5px; margin: 1rem;">
                <h6>Comments</h6>
                {% for comment in post.comments.all %}
                    <p class="card-text"><u>{{ comment.author }}:</u> {{ comment.body }}</p>
                 {% endfor %}
            </div>
            {% endif %}


            <div class="card-footer text-center-muted">
                <a href="{% url 'post_detail' post.pk %}">Details</a>
            </div>
        </div>
    </div>
    <br />
    {% endfor %}
{% endblock content %}