{% extends 'base.html' %}

{% block title %}Post Details{% endblock title %}

{% block content %}
<div class="container" style="margin-bottom: 5rem;">
    <div class="card" style="border: 1px solid black; box-shadow: 5px 5px 5px rgb(92, 92, 92);">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div>
                    by {{ post.author }} @ {{ post.date }}
                </div>
                {% if user.is_authenticated and user == post.author  %}
                <div>
                    <a href="{% url 'post_edit' post.pk %}"><i class="fas fa-edit"></i></a> | 
                    <a href="{% url 'post_delete' post.pk %}"><i class="fas fa-trash-alt"></i></a>
                </div>
                {% endif %}
           
            </div>
        </div>

        <div class="card-body">
        {% if post.post_image %}
        <p><img src="{{ post.post_image.url }}" class="img-responsive" style="width: 400px; height: 300px"></p>
        {% endif %}
        <p>{{ post.body }}</p>
        
<div class="card-body">
<h5>Comments:</h5>
{% if not post.comments.all %}
    No comments Yet...
{% else %}
    {% for comment in post.comments.all %}
    <div style="border: .5px solid black; margin:.5rem; border-radius: 5px; background-color: rgb(233, 233, 233); padding: .5rem; padding-bottom: 0;">
    <p><strong>{{ comment.author }}</strong> <span style="color:rgb(160, 159, 159);"> {{ comment.date }} </span><br>
        {{ comment.body }} <br>
        </p>
        </div>
    {% endfor %}
{% endif %}  
</div>  
</div>

        <div class="card-footer text-center-muted">
            <a href="{% url 'post_list' %}">All Posts</a> |
            <a href="{% url 'add_comment_to_post' post.pk %}">Add Comment</a>
        </div>
    </div>
</div>
{% endblock content %}
